VITE_TOAST_DURATION_MS=3600
VITE_AGENT_LAUNCHER_DRAGGABLE=false
VITE_MOCK_REWARD_PROOF=false
SAFECAFE_RPC_URL=
SAFECAFE_MOCK_ACCOUNT_LIVE=false
SAFECAFE_MOCK_ACCOUNT=
SAFECAFE_LLM_API_BASE=
SAFECAFE_LLM_API_MODEL=
SAFECAFE_LLM_API_KEY=
FILEBASE_ACCESS_TOKEN=
FILEBASE_SECRET_KEY=
FILEBASE_BUCKET=safecafe
FILEBASE_RELEASE_KEY_PREFIX=releases
FILEBASE_IPFS_MAX_BYTES=1500000
SAFECAFE_AUTH_SECRET=
SAFECAFE_RPC_ALLOW_ALL_WALLETS=false
VITE_RPC_URL=
